:root {
  font-family: 'Roboto', sans-serif;  /* CSS Geral */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bottom: linear-gradient(30deg, #544D58, #524C59);
  --white: #FEFDFF;   /* Paleta da calculadora */
  --red: #A75E6E;
  --black: #2A292E; 
  --black-visor: #000301;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}